@model ProductModel

<form asp-action="additem" method="post" class="form-horizonta" role="form">
    <div class="form-group">
        <label asp-for="Name"></label>
        <div>
            <input asp-for="Name" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <div>
            <input asp-for="Description" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <div>
            <input asp-for="Price" />
        </div>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Add Item" />
    </div>

</form>